<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>振込完了画面</title>
</head>
<body>
<h1>振込完了しました。</h1>
<p>金融機関名: <span th:text="*{BankName}"></span></p>
<p>支店名: <span th:text="*{BranchName}"></span></p>
<p>口座番号: <span th:text="*{BankAccountNum}"></span></p>
<p>口座名義: <span th:text="*{BankAccountName}"></span></p>
<p>振込金額: <span th:text="*{TransferAmount}"></span></p>
<p>振込日時: <span th:text="*{Date}"></span></p>
<input type="hidden" name="Date" th:value="*{Date}"/>
<input type="hidden" name="TransferAccount" th:value="*{TransferAmount}"/>
<input type="hidden" name="BankAccountNum" th:value="*{BankAccountNum}"/>
<input type="hidden" name="BankAccountName" th:value="*{BankAccountName}"/>
<input type="hidden" name="BranchName" th:value="*{BranchName}"/>
<input type="hidden" name="BankName" th:value="*{BankName}"/>
<p><input type="button" value="振込に戻る" onclick="window.location='/bankTransfer';"/></p>
</body>

</html>