<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投資信託注文確認画面</title>
</head>
<body>
<h1>投資信託注文確認画面</h1>
<form action="#" th:action="@{/investmentTrustCompletion}" th:object="${investmentTrustApplication}" method="post">
    <p>金融機関名: <span th:text="*{bankName}"></span></p>
    <p>支店名: <span th:text="*{branchName}"></span></p>
    <p>科目名: <span th:text="*{bankAccountType}"></span></p>
    <p>口座番号: <span th:text="*{bankAccountNum}"></span></p>
    <p>購入者名: <span th:text="*{name}"></span></p>
    <p>銘柄選択: <span th:text="*{fundName}"></span></p>
    <p>購入金額: <span th:text="*{money}"></span></p>

    <input type="hidden" name="bankName" th:value="*{bankName}"/>
    <input type="hidden" name="branchName" th:value="*{branchName}"/>
    <input type="hidden" name="bankAccountType" th:value="*{bankAccountType}"/>
    <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>
    <input type="hidden" name="name" th:value="*{name}"/>
    <input type="hidden" name="fundName" th:value="*{fundName}"/>
    <input type="hidden" name="money" th:value="*{money}"/>
    <p>
        <input type="submit" id="submit" value="申込"/>
        <input type="button" value="キャンセル" onclick="window.location='/investmentTrust';"/>
    </p>
</form>
<script th:inline="javascript" src="/js/investmentTrustConfirmation.js"></script>
</body>
</html>